@model cicaudittrail.Models.CicRequestResults

@{
    ViewBag.Title = "Modification CicRequestResults";
}

<h2>Modification CicRequestResults</h2>

@using (Html.BeginForm()) {
    @Html.ValidationSummary(true)
    <fieldset>
        <legend>CicRequestResults</legend>

        @Html.HiddenFor(model => model.CicRequestResultsId)
		@Html.Partial("_CreateOrEdit", Model)

        <p>
            <input type="submit" value="Save" />
        </p>
    </fieldset>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>
